*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

html{
	scroll-behavior: smooth;

}

.btn a{
	text-decoration: none;
	color: #fff;
}

#port-jumbo{
	border: 8px solid #C89933;
	padding: 8em 4em;
	border-radius: 10px;
	width: 60%;
}

#jumbo-div{
	height: 100vh;
	padding-top: 10%;
	background-color: #750E2B;
	border-radius: 0;
/*	margin-bottom: 0;*/
}

.jumbotron h1, .jumbotron p{
	color: #f2f2f2; /*off white*/
	font-family: 'Poppins', sans-serif;
}

.btn-primary{

}

.marg{
	padding-top: 20px;
	padding-bottom: 30px;
}

.capstones{
	background-image: url("../images/bgcp.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
}

.abt{
	margin-top: 5px;
}

.ftr{
	background-color: #F2AA4CFF;
}

.footer{
	background-color: #0B2545;
	color: #fff;
}

.fb{
	width: 100px;
	padding-top: 10px;
	margin: 10px;
}






/*media quries*/

/*mobile style*/
@media only screen and (max-width: 400px){
	#jumbo-div{
		height: 100%;
	}

	#port-jumbo{
		width: 100%;
		height: 600px;
		padding-top: 200px;
		padding-bottom: 50px;
	}

	.jumbotron h1{
		font-size: 21px;
	}

	.jumbotron p{
		font-size: 16px;
	}

	.abt{
		font-size: 30px;
	}

	.cp2{
		margin-top: 20px;

	}

	.footer{
		font-size: 12px;
	}
}

/*tablet style*/

@media only screen and (min-width: 410px) and (max-width: 960px){
	jumbo-div{
		height: 100%;
	}

	#port-jumbo{
		width: 100%;
		margin-top: 10vh;
		padding-top: 15em;
		padding-bottom: 20em;
	}

	.jumbotron h1{
		font-size: 60px;
	}

	.jumbotron p{
		font-size: 30px;
	}
	.jumbotron a{
	font-size: 20px;

}

/*desktop style*/

@media only screen and (min-width: 961px){


}